
.map-container {
    margin: 0 auto;
    height: 400px;
    width: 800px;
  }

  .map-heading{
    font-size: 2rem;
    text-align: center;
    /* margin-top: 4rem; */
    margin: 0 auto;
    padding: 50px;
  }
  